/* css for the sidebar header whatchmacallit */

.sidebar-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: rgb(66, 74, 227);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar-initials {
    display: flex;
    padding: 6px 8px 6px 8px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(66, 74, 227);
}

.sidebar-initials h1 {
    font-size: 60px;
}

.sidebar-list {
    align-items: center;
}
.sidebar-list ul li a:hover {
    color: white;
    font-size: 125%;
}

.sidebar-list ul li {
    list-style-type: none;
}

.sidebar-list a {
    display: flex;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block; 
    margin-top: 30px;
}

/* spacing for my page */

.spacing {
    display: flex;
    flex-direction: column;
    gap: 300px;
}

/* css for the home section of my webpage */

.homepage {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
}

.img-homepage img {
    margin-left: 450px;
    max-width: 300px;
    border-radius: 200px;
}

.information-homepage {
    color: black;
    width: 425px;
    text-align: left;
}

.information-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.information-btns button {
    border: none;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(66, 74, 227);
    border-radius: 10px;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    gap: 300px;
    margin-left: 450px;
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 700px;
}

.about-title {
    display: flex;
    justify-content: center;
}

.about-text {
    display: flex;
    text-align: center;
}

/* project section */

.project-alignment {
    display: flex;
    flex-direction: row;
    margin-left: 55px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-title {
    display: flex;
    margin-left: 275px;
}

.col {
    margin-left: 95px;
}

/* contact section */

.contact-title {
    margin-left: 275px;
}

.email {
    display: flex;
    justify-content: center;
    margin-right: 225px;
}

/* footer */

.footer {
    text-align: center;
    padding: 3px;
    color: rgb(66, 74, 227);
}

